.site-main .cA {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    color: rgb(142, 221, 255);
    margin-bottom: 40px;
}



.custom-class {
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 40px;
}


.customH {
    font-size: 80px;
    color: rgb(127, 199, 199);
    text-align: center;
    margin: 0 auto;
}

.myP {

    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
    font-family: sans-serif;
}

#page.site {
    background-color: rgb(34, 57, 91);
}

.primary-menu-container a:hover {
    color: rgb(154, 194, 253);
    background-color: none;
}

#site-navigation:hover {
    background-color: rgb(34, 57, 91);
}